.Alert {
    opacity: 0;
    position: fixed;
    top: -100%;
    left: 50%;
    width: 40%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
    transition: 1s;
    color: #fff;
    z-index: 10001;
}
.Success {
    background: #43a047;
}
.Error {
    background: #d32f2f;
}
.Alert.Active {
    opacity: 1;
    top: 5%;
}
.AlertContent {
    width: 100%;
    padding: 6px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AlertContent h2 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.AlertContent > span {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}
.AlertContent p {
    font-weight: 500;
    font-size: 18px;
    width: 80%;
    margin-bottom: 0;
}

/*Styles for svg*/
.j2dfb39 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 20px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}
.j2dfb39 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 20px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
    margin-right: 7px;
}
.j1g2vga5 {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none !important;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.j1g2vga5:hover {
    background: rgba(255,255,255,0.15);
}
.jsbmc5e {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.j2dfb39 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
    font-size: 20px;
    margin: 0;
    color: #fff;
}
@media only screen and (max-width: 1400px) {
    .Alert {
        width: 45%;
    }
}
@media only screen and (max-width: 1200px) {
    .Alert {
        width: 50%;
    }
}
@media only screen and (max-width: 960px) {
    .Alert {
        width: 55%;
    }
}
@media only screen and (max-width: 640px) {
    .Alert {
        width: 65%;
    }
}
@media only screen and (max-width: 480px) {
    .Alert {
        width: 90%;
    }
}