.StepButtons {
    display: flex;
}

.StepButtons button {
    line-height: 40px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding-left: 45px;
    font-family: "Poppins SemiBold", sans-serif;
    font-size: 21px;
    display: inline-block;
    height: 70px;
    width: 200px;
    color: #fff;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    /*-webkit-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.24);*/
    /*box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.24);*/
    background-color: #66b73a;
    background-image: url(../../../assets/images/arrow-btn.svg);
    background-repeat: no-repeat;
    background-position: 110px center;
    -webkit-background-size: 23px;
    background-size: 23px;
    transition: 0.3s;
}

.StepButtons button:first-child {
    background: rgba(0, 0, 0, 0.5) url(../../../assets/images/arrow-btn-rotate.svg) no-repeat 20px center;
}

.StepButtons button:last-child {
    text-align: left;
}

.StepButtons button:last-child:hover {
    background-color: #417723;
}

.StepButtons button:first-child:hover {
    opacity: 0.75;
}

.StepButtons button[disabled] {
    background-color: #b0aeae;
    cursor: not-allowed;
}

.StepButtons button[disabled]:hover {
    opacity: 1;
    background-color: #b0aeae;
}

@media screen and (max-width: 1400px) {
    .StepButtons button {
        height:60px;
    }
}