.ModalBackground {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    z-index: 1000;
}
.Open {
    display: block;
    opacity: 1;
}
.Modal {
    width: calc(60% - 50px);
    margin-left: -25px;
    padding: 70px 50px 100px 100px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Modal:after {
    background: #ffffff;
    content: '';
    display: inline-block;
    height: calc(100% - 49px);
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(99%);
}
.Modal:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../../../assets/images/radius.svg) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(99%);
}
.ModalClose {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #bf0202;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -65px;
    border: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif !important;
    font-size: 22px;
    transition: 0.3s;
    outline: none !important;
}
.ModalClose:hover {
    background: #850000;
}

@media only screen and (max-width: 992px) {
    .Modal {
        width: calc(85% - 50px);
        padding: 45px 0 45px 50px;
    }
    .AdditionalForm h2 {
        font-size: 30px !important;
    }
    .AdditionalForm .red__dash {
        margin: 10px 0 10px 50% !important;
    }
    .AdditionalForm > span {
        font-size: 18px !important;
        margin-bottom: 30px !important;
    }
    .AdditionalForm input {
        height: 50px !important;
    }
}
@media only screen and (max-width: 640px) {
    .AdditionalForm input {
        width: 100% !important;
    }
}