.CalculatorHeadDownPayment {
    display: flex;
}
.CalculatorHeadDownPaymentInputs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.CalculatorHeadDownPaymentInputs input {
    width: calc(25% - 40px);
    margin: 0 20px 20px;
}
.CalculatorHead {
    margin-bottom: 20px;
    display: flex;
}