.UsaComing {
    font-size: 14px;
    font-weight: 400;
}
.TableBlockDropdownContainer {
    position: relative;
}
.TableBlockDropdown {
    background: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(50%);
    box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.24);
    opacity: 0;
    transition: 0.5s;
}
.TableBlockDropdown.Active {
    opacity: 1;
    transform: translateY(100%);
}
.TableBlockDropdown span {
    font-weight: 600;
}
.carret {
    cursor: pointer;
    position: relative;
    z-index: 1000;
}