.AdditionalForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.AdditionalForm h2 {
    font-family: 'Poppins', sans-serif !important;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.AdditionalForm span {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
    text-align: center;
    display: block;
    font-size: 35px;
    margin-bottom: 50px;
}
.AdditionalForm .red__dash {
    margin-top: 20px;
    background-color: #bf0202;
    width: 37px;
    height: 4px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
.AdditionalForm input {
    width: 48%;
    height: 73px;
    padding: 30px 25px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    border-bottom: 2px solid #c31313;
    outline: none !important;
}
.AdditionalForm button {
    background: #bf0101;
    height: 70px;
    text-align: left;
    padding: 0 10px 0 40px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 15px 62px 0 rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 260px;
}
.AdditionalForm button:hover {
    background: #850000;
}
.AdditionalForm button span {
    font-size: 21px;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
    padding-right: 40px;
    background-image: url(../../../assets/images/arrow-btn.svg);
    background-position: 85% center;
    background-repeat: no-repeat;
    width: 100%;
    font-weight: 400;
}

.AdditionalForm button[disabled] {
    background-color: #BEBFBE !important;
    cursor: not-allowed;
}