.StepDropDowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.StepDropDownsItem {
    width: 100%;
}
.StepDropDownsItem select {
    width: 100% !important;
    outline: none !important;
    color: transparent !important;
    background: transparent !important;
    position: relative;
    z-index: 100;
}
.StepDropDownsItem option {
    color: #000;
}
.StepDropDownsItem select:focus {
    border: none !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}
.StepDropDownsItem {
    position: relative;
}
.StepDropDownsItem span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    padding: 25px 15px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.SelectDropArrow {
    position: absolute;
    border: 1px solid #dbdbdb;
    height: 100%;
    width: 50px;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
}
.SelectDropArrowTriangle {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #7a7a7a transparent transparent transparent;
    transform: translate(-50%, -50%);
}

/*Styles for multiselects*/

.multi-select .arrow {
    position: absolute;
    border: 1px solid #dbdbdb;
    height: 100%;
    width: 50px !important;
    top: 0;
    right: 0;
    border-radius: 0 5px 5px 0;
    color: transparent;
}
.multi-select .arrow:after {
    content: '';
    display: inline-block;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #7a7a7a transparent transparent transparent;
    transform: translate(-50%, -50%);
}
.StepDropDownsItemMulti {
    width: 48%;
    min-height: 70px;
    position: relative;
}
.MultiSelectLabel {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-140%);
    font-weight: 600;
    color: #fff;
}
.multi-select {
    height: 100%;
    border-radius: 5px;
}
.multi-select .selected-options .selected-options-badges-list {
    width: calc(100% - 50px) !important;
    max-height: 100px;
    overflow: auto;
}