.TriangleWrapper .triangle__block {
    height: calc(100vh - 20px);
}
.TriangleWrapper {

}
.SliderHandler {
    position: absolute;
    top: 8%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.SliderHandler span {
    width: 100%;
    display: inline-block;
    height: 3px;
    background: #fff;
    position: relative;
    box-shadow: 1px 0px 8px 1px rgba(0,0,0,0.9);
}
.SliderHandler p {
    position: absolute;
    top: 50%;
    color: #fff;
    text-shadow: 0 0 7px rgba(0,0,0,1);
}
.SliderHandler span img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.SliderHandlerROI {
    left: 0;
    transform: translate(-120%, -50%);
}
.SliderHandlerPercent {
    right: 0;
    transform: translate(120%, -50%);
}

/*Styles for hide some info from triangle*/

.top__delimeter,
.center__delimeter,
.bottom__delimeter {
    display: none !important;
}