.StepsIndicator {
    height: 125px;
    padding-top: 120px;
    margin-bottom: 150px;
}
.wrapper .how__it__works p {
    margin-bottom: 30px;
}
.StepsIndicatorLine {
    height: 4px;
    background: #f27373;
    position: relative;
    z-index: 5;
    width: 100%;
}
.StepsIndicatorLineInner {
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #43951f;
    transition: 0.7s;
}
.StepsIndicatorItemCircle {
    width: 60px;
    height: 60px;
    border-width: 4px;
    border-radius: 50%;
    border-color: #f27373;
    border-style: solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #bf0202;
    z-index: 10;
    transition: 1s;
}
.StepsIndicatorItemText {
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 40px;
    color: #ffffff;
    font-weight: 700;
}
.StepsIndicatorItemText h5 {
    font-size: 17px;
}
.StepsIndicatorItemText p {
    font-size: 20px;
    font-weight: 700 !important;
}
.StepsIndicatorItemCircle div {
    transition: 1s;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f27373;
}
.StepsIndicatorItemCircle div span {
    font-size: 19px;
    color: #ffffff;
    font-weight: 700;
}
.StepsIndicatorItemCircle1,
.StepsIndicatorItemText1,
.StepsIndicatorIcon1 {
    left: 0;
}
.StepsIndicatorItemText1,
.StepsIndicatorIcon1 {
    transform: translateX(-15%);
}
.StepsIndicatorItemText2,
.StepsIndicatorIcon2 {
    left: 50%;
    transform: translateX(-50%);
}
.StepsIndicatorItemCircle2 {
    left: 50%;
    transform: translate(-50%, -50%);
}
.StepsIndicatorItemCircle3,
.StepsIndicatorItemText3,
.StepsIndicatorIcon3 {
    right: 0;
}
.StepsIndicatorIcon {
    width: 75px;
    height: 75px;
    object-fit: contain;
    position: absolute;
    top: -120px;
}