.MainForm input {
    outline: none;
}
.wrapper .about__selling .container .form__block form .btn__row button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 21px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 45px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #bf0202;
    background-image: url(../../../assets/images/arrow-btn.svg);
    background-repeat: no-repeat;
    background-position: 185px center;
    -webkit-background-size: 23px;
    background-size: 23px;
    -webkit-box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 15px 62px 0px rgba(0, 0, 0, 0.24);
    width: 260px;
    height: 71px;
    color: #fff;
    outline: none;
    border: none;
    transition: 0.3s;
}
.wrapper .about__selling .container .form__block form .btn__row button:hover {
    background-color: #880006;
}
.CheckboxContainer {
    font-size: 17px;
    display: flex;
    align-items: center;
    margin-left: 13px;
    font-weight: 500;
}

.MainForm button[disabled] {
    background-color: #BEBFBE !important;
    cursor: not-allowed;
}

/*Styles for checkbox*/

.Checkbox {
    position: static !important;
    width: 73px !important;
    height: 73px !important;
    border-bottom: 2px solid #c31313;
    border-radius: 3px;
    overflow: hidden;
    outline: none;
    margin-right: 20px;
}
.square {
    fill: #ffffff;
    stroke: #dbdbdb;
    width: 100%;
    height: 100%;
    x: 0;
    y: 0;
    stroke-width: 0.5;
    fill-opacity: 1 !important;
}
.tick {
    stroke: #c31313;
}
.Checkbox svg {
    width: 100% !important;
    height: 100% !important;
}

@media only screen and (max-width: 1400px) {
    .Checkbox {
        width: 60px!important;
        height: 60px!important;
    }
}