.DownPaymentCard {
    border: 1px solid #e8e8e8;
    margin-bottom: 50px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif !important;
    box-shadow: 0 15px 65px 0 rgba(0, 0, 0, 0.05);
    padding: 0 !important;
    width: 100%;
}
.DownPaymentCard.Active {
    border: 2px solid #43951f;
}
.DownPaymentCardMainInfo {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e8e8e8;
}
.DownPaymentCardROI {
    width: 18%;
    padding-top: 65px;
    border-right: 1px solid #e8e8e8;
    color: #43951f;
}
.DownPaymentCardROI.AA {
    color: #a1cf6d;
}
.DownPaymentCardROI.A {
    color: #e4ca0b;
}
.DownPaymentCardROI p {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.DownPaymentCardAAA {
    background: #43951f;
    padding: 15px 0;
    border-radius: 5px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.DownPaymentCardAAA.AA {
    background: #a1cf6d;
}
.DownPaymentCardAAA.A {
    background: linear-gradient(to bottom, #ffed65 0%,#f1854b 100%);
}
.DownPaymentCardAAA i {
    color: #fff;
}
.DownPaymentCardROI span {
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 40px;
}
.DownPaymentCardTextInfo {
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    width: 46%;
    border-right: 1px solid #e8e8e8;
}
.DownPaymentCardTextInfo p {
    margin-bottom: 30px;
    font-size: 17px;
}
.DownPaymentCardTextInfo p:last-child {
    margin-bottom: 0;
}
.DownPaymentCardTextInfo p b {
    font-weight: 700;
    color: #000;
}
.DownPaymentCardTextInfo p span {
    font-weight: 300;
    color: #404040;
}
.DownPaymentCardChart {
    width: 36%;
    background: #f9f7f7;
}
.DownPaymentCardItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DownPaymentCardTextInfo p {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.DownPaymentCardButtons {
    width: 100%;
    padding: 35px 85px;
    display: flex;
    justify-content: space-between;
}
.DownPaymentCardButton {
    height: 70px;
    text-align: left;
    padding: 0 10px 0 40px;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 15px 62px 0 rgba(0, 0, 0, 0.24);
    transition: 0.3s;
    outline: none!important;
}
.DownPaymentCardButton span {
    white-space: nowrap;
    display: inline-block;
    padding-right: 40px;
    background-image: url(../../assets/images/arrow-btn.svg);
    background-position: 85% center;
    background-repeat: no-repeat;
    width: 100%;
}
.CashFlowAnalysis {
    width: 60%;
    background: #bf0101;
}
.CashFlowAnalysis:hover {
    background: #850000;
}
.Inquire {
    width: 35%;
    background: #60b73a;
}
.Inquire:hover {
    background: #34641f;
}

/*styles for chart*/
.DownPaymentCardItem {
    border-radius: 15px;
    overflow: hidden;
}

.recharts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto !important;
}
.recharts-legend-wrapper {
    height: auto !important;
    width: 65% !important;
    position: static !important;
}
.recharts-legend-wrapper li {
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.recharts-legend-wrapper li svg {
    display: none !important;
}
.recharts-legend-wrapper li:before {
    display: inline-block;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-right: 10px;
}
.recharts-legend-wrapper span {
    font-weight: 300;
    color: #404040;
}
.recharts-legend-wrapper li:first-child:before {
    background: #43951f;
}
.recharts-legend-wrapper li:nth-child(2):before {
    background: #a2d06e;
}
.recharts-legend-wrapper li:last-child:before {
    background: #bf0202;
}
.recharts-default-legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*Styles for table*/

.DownPaymentCard table {
    width: 100% !important;
}

/*Media styles*/


@media only screen and (max-width: 1500px) {
    /*Cards Style*/
    .DownPaymentCardsBlock {
        width: 55%;
    }

    .DownPaymentCardROI p {
        font-size: 40px;
    }


    .DownPaymentCardTextInfo {
        width:46%;
    }

    .recharts-wrapper .recharts-surface {
        width:200px;
        height: 200px;
    }

    .DownPaymentCardTextInfo p {
        margin-bottom: 15px;
    }

    .DownPaymentCardButtons {
        padding:20px 60px;
    }
    .DownPaymentCardButton {
        height: 50px;
        padding:0 10px 0 30px;
        font-size: 18px;
    }

    .DownPaymentCardButton span {
        background-position: 90% center;
    }
    .DownPaymentCardTextInfo p span {
        text-align: right;
    }
}

@media only screen and (max-width: 1400px) {
    /*Cards Style*/
    .DownPaymentCardsBlock {
        width: 50%;
    }

    .DownPaymentCardROI p {
        font-size: 40px;
    }


    .DownPaymentCardTextInfo {
        width:46%;
    }

    .recharts-wrapper .recharts-surface {
        width:200px;
        height: 200px;
    }

    .DownPaymentCardTextInfo p {
        margin-bottom: 15px;
    }

    .DownPaymentCardButtons {
        padding:20px 60px;
    }
    .DownPaymentCardButton {
        height: 50px;
        padding:0 10px 0 30px;
        font-size: 18px;
    }

    .DownPaymentCardButton span {
        background-position: 90% center;
    }
    .DownPaymentCardTextInfo p span {
        text-align: right;
    }
}

@media only screen and (max-width: 992px) {
    .DownPaymentBanner {
        display: none;
    }
    .DownPaymentCards .Container {
        padding: 30px 15px;
    }
    .DownPaymentCardsBlock {
        width: 100%;
    }
}
@media only screen and (max-width: 640px) {
    .DownPaymentCardMainInfo {
        flex-direction: column;
    }
    .DownPaymentCardMainInfo > div {
        width: 100%;
        border-radius: 0;
        border-right: 0;
    }
    .DownPaymentCardItem {
        padding: 30px;
    }
    .DownPaymentCardROI {
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
    }
    .DownPaymentCardROI span {
        margin-bottom: 0;
    }
    .DownPaymentCardROI div:first-child {
        margin-right: 40px;
    }
    .DownPaymentCardTextInfo {
        border-bottom: 1px solid #e8e8e8;
    }
    .DownPaymentCardChart {
        padding-top: 0;
    }
    .DownPaymentCardButtons {
        padding: 30px 15px;
        flex-direction: column;
        align-items: center;
    }
    .CashFlowAnalysis {
        width: 100%;
        margin-bottom: 20px;
    }
    .Inquire {
        width: 60%;
    }
    .DownPaymentCardButton span {
        background-position: 75% center;
    }
}