.DownPaymentCardTable {
    display: none;
    overflow: hidden;
}
.DownPaymentCardTable.Active {
    display: block;
}
.TableHidden {
    display: none;
}
.wrapper .card__block .tables__wrapper table tbody tr.green__color td span {
    transition: 0.25s;
}
.wrapper .card__block .tables__wrapper table tbody tr.green__color td span:hover {
    background: #366820;
}
.Asterisk {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.Asterisk:hover {
    color: #6E6E6E !important;
}
.Asterisk:hover .TableBubble {
    opacity: 1;
    transform: translate(-50%, 0) scaleY(1) scaleX(1);
}
.TableBubble {
    opacity: 0;
    position: absolute;
    background: rgba(156,156,156,0.9);
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0) scaleY(0) scaleX(0.8);
    z-index: 1000;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    transition: 0.3s;
}
.TableBubble:after {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(156,156,156,0.9) transparent;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -100%);
}