* {
  box-sizing: border-box;
}
.input-range__label-container {
  position: static !important;
}
.input-range__label--value {
  transform: translateX(-50%) !important;
}
/*#70A94A*/

.input-range__slider {
  background: #70A94A !important;
  border: 1px solid #70A94A !important;
}
.input-range__track--active {
  background: #70A94A !important;
}
.input-range {
  margin-bottom: 40px;
}
.AppCards {
  font-size: 14px;
}
.AppCardsItem {
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.AppCardsItem > div {
  width: 50%;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin-bottom: 5px;
}
