.wrapper .how__it__works .red_arrow {
    z-index: 10000;
}
@media only screen and (max-width: 1400px) {
    .wrapper .how__it__works {
        padding-top: 30px;
    }
    .wrapper .how__it__works .container h3 {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .wrapper .how__it__works .container span.white__dash {
        margin: 0 0 25px 50%;
        transform: translateX(-50%);
    }
    .wrapper .how__it__works .container p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .StepsIndicatorItemCircle {
        width: 50px;
        height: 50px;
    }
    .StepsIndicatorItemCircle div {
        width: 35px;
        height: 35px;
    }
    .StepsIndicatorIcon {
        top: -100px;
    }
    .StepsIndicator {
        height: auto;
        padding-top: 120px;
        margin-bottom: 140px;
    }
    .wrapper .how__it__works .container .steps__block .select__wrapper {
        flex-direction: column;
    }
    .StepDropDownsItemMulti {
        width: 100% !important;
        margin-bottom: 30px;
        height: 55px !important;
        min-height: auto !important;
    }
    .StepButtons button {
        margin-top: 0 !important;
    }
    .StepDropDownsItem {
        margin-bottom: 30px;
    }
    .multi-select .selected-options .selected-options-badges-list {
        max-height: 100% !important;
    }
}
@media only screen and (max-width: 1200px) {
    .StepDropDownsItemMulti {
        min-height: auto;
    }
    .StepDropDowns {
        margin-bottom: 0 !important;
    }
    .StepButtons button {
        width: 100% !important;
        padding: 0 !important;
        background-image: none !important;
        margin-bottom: 10px;
    }
    .StepDropDownsItemMulti {
        margin-bottom: 25px;
    }
    .wrapper .how__it__works .container .steps__block .btn__row {
        flex-wrap: wrap;
    }
    .StepsIndicatorIcon {
        /*display: none;*/
    }
    .StepsIndicator {
        padding-top: 50px;
    }
    .StepDropDownsItem span {
        line-height: 0 !important;
    }
}
@media only screen and (max-width: 992px) {

    .StepsIndicatorIcon {
        top: -105px;
    }

    .StepsIndicator {
        padding-top: 95%;
    }

    .StepDropDownsItem {
        height: 50px;
    }
    body .wrapper .how__it__works .container .steps__block .select__wrapper select {
        margin-bottom: 0;
        height: 100%;
    }
    .StepDropDownsItem span {
        padding: 0 10px !important;
        line-height: 50px !important;
    }
    .DownPaymentBanner {
        display: none;
    }
    .DownPaymentCards .Container {
        padding: 30px 15px;
    }
    .DownPaymentCardsBlock {
        width: 100%;
    }
}
@media only screen and (max-width: 450px) {
    body .wrapper .how__it__works .container p {
        font-size: 17px;
    }
}