.DownPaymentCards .Container {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.DownPaymentCards {
    min-height: auto !important;
    height: auto !important;
    overflow: visible !important;
}
.DownPaymentCardsBlock {
    width: 60%;
}
.DownPaymentBanner {
    height: 600px;
    width: 160px;
    background: #eee;
    opacity: 0;
}
.ResultsWillBe {
    font-weight: 600;
}